*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

nav ul{
    list-style: none;
    display: flex;  
}

html{
    font-size: 90.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(10px);
    background-color: rgb(49, 62, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 3rem;
    color: #f9f3ff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #6e8eb4;
    border-bottom: 3px solid #7fa0c2;
}

@media(max-width:995px){
    nav{
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #6789af;
        border-bottom: 3px solid #5d87a3;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #587395;
        border-top: 0.1rem solid rgb(255, 197, 197);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #677fac;
    }
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    overflow-y: auto;
    background-color: rgb(49, 62, 88);
}

.home .home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

span{
    color: #749cd795;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 80%;
    flex-wrap: wrap;
}

.home-img img{
    position: relative;
    width: 35vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #333232;
    cursor: pointer;
    transition: 0.2s linear;
    flex-wrap: wrap;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid rgb(49, 62, 88);
    font-size: 3rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #ffffff;
}


footer p{
  background-position-x:center; 
  font-size: large;
  background-color: rgb(49, 62, 88);
  justify-content: center;
  font-style: normal;
  display: flex;
  padding: 25px;
  color: white;


}


.social-icons a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.3) translateY(-5px);
    background-color: white;
    box-shadow: 0  0 25px #485e76;
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(77, 94, 123);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #497491;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #456179;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #5a8fae;
    color: rgb(13, 23, 41);
    box-shadow: 0 0 25px #5089aa;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "/^o^/";
    background-color:rgb(21, 29, 43);
    position: absolute;
    height: 100%;
    border-right: rgb(0, 0, 0);
    left: -8;
    animation: cursor 0.6s infinite;
}

.typing-text span::after{
    content: "Programmer";
    background-color: rgb(21, 29, 43);
    position: absolute;
    height: 100%;
    border-left: 3px solid rgb(0, 0, 0);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #697ca3;
    }
}


@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 8rem 9rem;
        
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.Certificate-img{
    display: flex;
    gap: 5;
}


.Certificate-img img{
    width: 35rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;
    flex-wrap: wrap;
    margin: 5px;
    
}

.white {
    color: white;
}



.poster-img img {
    width: 80rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s linear;
    margin-right: 20px; 
    max-width: 100%; 
    height: auto;
}



